{% extends 'base.html' %}

{% block content %}

<h1>Add Playlist</h1>

{{ form.hidden_tag() }}

<form method="post" action="{{ url_for('add_playlist') }}">
    <div>
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Add Playlist</button>
    </div>
</form>

{% endblock %}